.section-about__content--reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.section-about__img-container--reverse {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.section-about__img--reverse {
    left: 0;
}

.swiper--reverse {
    left: 0;
    margin: 0 !important;
}

.swiper-btns--reverse {
    justify-content: flex-start !important;
}