.section {
    &__tiitle {

    }

    &__brand-title {

    }

    &__subtitle {
        width: 518px;
    }

}

.section-ab-rest {
    background-color: #FFFDEE;
    padding: 120px 0 58px;
    
    &__container {
        display: flex;
    }

    &__content {
        margin-right: 37px;
        // height: auto;
        margin-bottom: 162px;
    }



    &__subtitle2 {
        width: 312px;
    }

    &__img-container {
        position: relative;
        width: 460px;
        height: 574px;
    }

    &__img {
        position: absolute;
        
        top: -153px;
        left: 0;
    }

    &__img2-container {
        display: flex;
        align-items: center;
    }

    &__img2 {
        margin-right: 32px;
    }

    &__img2-box {
        height: auto;
        position: relative;
        transform: translateY(-25%);
    }



}

.swiper {
    width: 548px;
    margin: 0;

    &__container {
        position: relative;
        
        transform: translateY(-50%);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &-wrapper {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 44px;
    }

    &-slide {
        width: 254px !important;
    }

    &-inner {
        height: 254px;
        background-color: red;
    }
    
    &-btns {
        display: flex;
        justify-content: flex-end;
        gap: 44px;
    }

    &-btn {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;

        &::after {
            content: '';
        }
    }
}
