.contacts {
    &-container{
        padding-top: 36px;
        padding-bottom: 32px;
        background-color:  $bcgContactColor;
    }

    &-wrap {
        max-width: 414px;
    }

    &-title {
        margin-bottom: 16px;

        font-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.02em;

        color: $titleContactColor;
    }

    &-item {
        display: flex;
        margin-bottom: 16px;
        gap: 30px;
    }

    &-name {
        display: flex;
        align-items: center;
        min-width: 100px;
        
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
        letter-spacing: 0.02em;

        color: $brownContactColor;
    }

    &-details {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
        width: 260px;
        background-color: white;
        border: 0.5px solid $accentYellowColor;
        border-radius: 2px;
    }
}

.contacts-details.contacts--short {
    display: inline-flex;
    width: fit-content;
}

.logo-title {
    @include logo-title-mobile($linkContactMobileColor);
    margin-bottom: 12px;
}

.phone {
    display: flex;
    align-items: center;

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.02em;

    color: $linkContactMobileColor;

    &-icon {
        margin-right: 8px;
        margin-left: 8px;
        fill: $brownContactColor;
    }
}

.address {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;

    &-wrap{
        padding-top: 8px;
        padding-bottom: 8px;
    
        display: flex;
        width: 254px;
        align-items: center;
    
    
        background-color: $whiteColor;
        border: 0.5px solid $accentYellowColor;
        border-radius: 2px;
    }

    &-icon {
        margin-left: 10px;
        margin-right: 10px;
        fill: $brownContactColor;
    }

    &-text {
        max-width: 183px;

        font-weight: 400;
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.01em;
    
        color: $linkContactMobileColor;
    }
}

// карта 
.map-frame {
    max-width: 384px;
    height: 220px;

    border: 1px solid #bababa;
    border-radius: 2px;
}

.map-holder {
    width: 100%;
    height: 100%;
}