.hotel {
  padding-top: 24px;
  background: rgba(0, 0, 0, 0.65);
}

.hotel__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  text-align: justify;

  margin-right: 144px;

  @media screen and (min-width: $tabletScreen) {
    margin-right: 278px;
  }
}

.hotel__box-text {
  text-align: end;
}

.hotel__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;

  letter-spacing: 0.3em;

  color: #ffffff;

  @media screen and (min-width: $tabletScreen) {
    font-size: 64px;
  }
}

.hotel__subtitle {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #ffffff;

  @media screen and (min-width: $tabletScreen) {
    font-size: 24px;
  }
}

.hotel__text {
  margin-bottom: 48px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #bababa;

  @media screen and (min-width: $tabletScreen) {
    max-width: 549px;

    font-size: 16px;
  }
}

.hotel-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 32px;

  margin-right: 43px;
  margin-bottom: 32px;
}

.hotel-slider__link {
  color: #ffffff;
  transition: color 250ms $transitionTimeFunction;
  &:hover,
  &:focus {
    color: #f3c653;
  }
}

.hotel-slider__icon {
  height: 32px;
  width: 32px;

  fill: currentColor;
}

.hotel__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  text-align: center;
}

.hotel__button {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  text-align: center;
  letter-spacing: 0.02em;
}

.hotel__link {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  display: inline-block;

  padding: 12px 0;
  margin-bottom: 40px;

  letter-spacing: 0.02em;
  text-decoration: none;
}
