.restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.65);
}

.rextaurant__box-text {
  @media screen and (min-width: $tabletScreen) {
    margin-left: 278px;
  }
}

.restaurant__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;

  letter-spacing: 0.3em;

  color: #ffffff;

  @media screen and (min-width: $tabletScreen) {
    margin-bottom: 16px;

    font-size: 64px;
  }
}

.restaurant__subtitle {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #ffffff;

  @media screen and (min-width: $tabletScreen) {
    margin-bottom: 8px;

    font-size: 24px;
  }
}

.restaurant__text {
  margin-bottom: 48px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #bababa;

  @media screen and (min-width: $tabletScreen) {
    max-width: 610px;

    font-size: 16px;
  }
}

.restaurant-slider__box {
  @media screen and (min-width: $tabletScreen) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.restaurant-slider__block {
  @media screen and (min-width: $tabletScreen) {
    margin-left: 29px;
  }
}

.restaurant-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;

  @media screen and (max-width: ($tabletScreen - 1px)) {
    margin-left: 40px;
    margin-bottom: 32px;
  }
}

.restaurant-slider__link-arrow {
  color: #ffffff;

  transform: scale(1);
  transition: color 250ms $transitionTimeFunction,
    transform 250ms $transitionTimeFunction;
  &:hover,
  &:focus {
    color: #f3c653;
    transform: scale(1.05);
  }
}

.restaurant-slider__icon {
  height: 32px;
  width: 32px;

  fill: currentColor;
}

.rextaurant__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  text-align: center;

  @media screen and (min-width: $tabletScreen) {
    flex-direction: column;
    margin-left: 47px;
    margin-bottom: 60px;
  }
}

.restaurant__button {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  text-align: center;
  letter-spacing: 0.02em;
}

.restaurant__link {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  display: inline-block;

  padding: 12px 0;

  letter-spacing: 0.02em;
  text-decoration: none;
}
