.restaurant {
  background: rgba(0, 0, 0, 0.65);
}

.rextaurant__box-text {
  margin-left: 125px;
}

.restaurant__title {
  margin-bottom: 12px;

  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  /* identical to box height */

  letter-spacing: 0.3em;

  color: #ffffff;
}

.restaurant__subtitle {
  margin-bottom: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.restaurant__text {
  margin-bottom: 48px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #bababa;
}

.rextaurant__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

.restaurant__button {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  min-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
}

.restaurant__link {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  display: inline-block;

  padding: 14px 0;
  min-height: 48px;

  margin-bottom: 42px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
