.hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.65);

  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/home-page/bcg-details/bcg-details-hotel-mobile.jpg);

  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/home-page/bcg-details/bcg-details-hotel-mobile@2x.jpg);
  }

  @include for-tablet-up {
    padding-top: 48px;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/home-page/bcg-details/bcg-details-hotel-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/home-page/bcg-details/bcg-details-hotel-tablet@2x.jpg);
    }
  }

  @include for-desktop-up {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/home-page/bcg-details/bcg-details-hotel-descktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/home-page/bcg-details/bcg-details-hotel-descktop@2x.jpg);
    }
  }

  @include for-tablet-up {
    padding-top: 48px;
  }
}
.container--padding-hotel {
  padding-left: 0;
  padding-right: 40px;

  @include for-tablet-up {
    padding-left: 47px;
    padding-left: 47px;
  }

  @include for-desktop-up {
    padding-left: 52px;
    padding-right: 85px;
  }
}

.hotel__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-bottom: 48px;
  margin-right: 100px;

  @include for-tablet-up {
    margin-right: 226px;
    text-align: justify;
  }

  @include for-tablet-up {
    margin-right: 253px;
    flex-direction: column;
    align-items: flex-end;
  }
}

.hotel__box-text {
  text-align: end;
}

.hotel__title {
  margin-bottom: 12px;

  @include logo-title-mobile($whiteColor);
  margin-bottom: 12px;

  @include for-tablet-up {
    margin-bottom: 16px;

    font-size: 64px;
  }
  & span {
    letter-spacing: normal;
  }
}

.hotel__subtitle {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $whiteColor;

  @include for-tablet-up {
    margin-bottom: 8px;

    font-size: 24px;
  }
}

.hotel__text {
  max-width: 243px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $paragraphHotelRestColor;

  @include for-tablet-up {
    max-width: 549px;

    font-size: 16px;
  }

  @include for-desktop-up {
    max-width: 595px;
  }
}

.hotel-slider__box {
  @include for-tablet-up {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.hotel-slider__block {
  @include for-tablet-down {
    transform: scaleX(-1);
  }
  & ul {
    margin-bottom: 16px;
  }
  & img {
    border-radius: 2px;
    height: 100%;
    max-height: 270px;
    object-fit: cover;
    object-position: center;
  }
  .swiper-slide {
    width: 30%;
    height: auto;
    transition: all 500ms ease-in-out;

    &.swiper-slide-next {
      width: 20%;

      @include for-tablet-down {
        opacity: 0.6;
      }
    }
  }
}

.hotel-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;

  @include for-tablet-down {
    margin-right: 43px;
    margin-bottom: 32px;
  }
}

.hotel-slider__button {
  color: $whiteColor;
  border: none;
  cursor: pointer;
  background: transparent;

  transform: scale(1);
  transition: color 250ms $transitionTimeFunction,
    transform 250ms $transitionTimeFunction;
  &:hover,
  &:focus {
    color: $accentYellowColor;
    transform: scale(1.05);
  }
}

.hotel-slider__icon {
  height: 32px;
  width: 32px;

  fill: currentColor;
}

.hotel__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  text-align: center;

  @include for-tablet-up {
    margin-left: 29px;
    margin-bottom: 48px;
    flex-direction: column;
  }
}

.hotel__button {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  text-align: center;
  letter-spacing: 0.02em;
}

.hotel__link {
  @include button_MinWidth_Bg(236px, rgba(0, 0, 0, 0.4));
  display: inline-block;

  padding: 12px 0;

  letter-spacing: 0.02em;
  text-decoration: none;
}
