.section-about-hotel--triple {
    background-color: #F0ECD6;
}

.section-hotel__title {
    font-family: 'Times New Roman';
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.13;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;

    @include for-tablet-up {
        font-size: 30px;
    }

    &--lowercase {
        text-transform: lowercase;
    }
}

.section-hotel__brand-title {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
   
        @media screen and (min-width: $tabletScreen) {
            margin-bottom: 62px;
        }
        
}

.section-about-hotel {
    padding-bottom: 40px;

    .swiper-wrapper {
        height: auto;
    }

    &__box {
        @include for-tablet-up {
            display: flex;
            // align-items: center;
            justify-content: space-between;
        }

    }

    .swiper-main {
        @include for-tablet-down {
            flex-basis: 414px;
            transform: translateX(-130px);
        }

        @include for-tablet-up {
            position: static;
            transform: translateX(0);
        }
    }

    .swiper-btns {
        @include for-tablet-down {
            width: 240px;
        }

        @include for-phone-only {
            justify-content: flex-end;
            width: auto;
        }
    }

    .swiper-slide-next {
        @include for-tablet-down {
            opacity: 100%;
        }
    }

    .swiper-slide-active {
        @include for-tablet-down {
            opacity: 60%;
        }
    }
}

.section-about-hotel.reverse {
    
    .section-hotel__content {
        @include for-tablet-down{
            text-align: start;
            width: 303px;
            margin-left: auto;
        }
    }

    .section-about-hotel__box {
        @include for-tablet-up {
            display: flex;
            flex-direction: row-reverse; 
            justify-content: space-between;
        }
    
    }

    .swiper-slide {
        @include for-tablet-down {
            background-color: #DADADA;
            opacity: 100%;
            transition: opacity 1000ms $transitionTimeFunction;
        }
    }

    .swiper-slide-next {
        @include for-tablet-down {
            opacity: 60%;
        }
    }

    .section-about__container-content {
        position: relative;
    }

    .section-about__content {
        position: static;

        @include for-tablet-down {
            text-align: end;
            width: 100%;
        }

        @include for-tablet-up {
            width: auto;
        }
    }

    .swiper-main {
        @include for-tablet-down {
            flex-basis: 414px;
            transform: translateX(130px);
        }
    }

    .swiper-btns {
        @include for-tablet-down {
            width: 280px;
        }
    }

    .section-about__img--absolute {
        @include for-tablet-down {
            margin-left: 0;
        }
    }
}

.button__container {
    margin-top: 42px;
}
.button-hotel {
    @include button_MinWidth_Bg ($buttons-min-width: $buttons-min-width);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    &--link {
        max-width: 236px;
        margin-bottom: 16px;
    }

    &--btn {
        margin-bottom: 4px;
    }
}


