<section class="hero hero-room slider-section" data-slider="hero-slider">
  <!-- <div class="container"> -->
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <img
          srcset="
            ../../images/room-page/deluxe-double-room-bedroom-414.jpg   414w,
            ../../images/room-page/deluxe-double-room-bedroom-828.jpg   828w,
            ../../images/room-page/deluxe-double-room-bedroom-1024.jpg 1024w,
            ../../images/room-page/deluxe-double-room-bedroom-1280.jpg 1280w,
            ../../images/room-page/deluxe-double-room-bedroom-2048.jpg 2048w,
            ../../images/room-page/deluxe-double-room-bedroom-2560.jpg 2560w
          "
          sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
          src="../../../images/room-page/deluxe-double-room-bedroom-414.jpg"
          alt="Спальня в двокімнатному люксі"
        />
      </li>
      <li class="swiper-slide">
        <img
          srcset="
            ../../images/room-page/deluxe-double-room-living-space-414.jpg   414w,
            ../../images/room-page/deluxe-double-room-living-space-828.jpg   828w,
            ../../images/room-page/deluxe-double-room-living-space-1024.jpg 1024w,
            ../../images/room-page/deluxe-double-room-living-space-1280.jpg 1280w,
            ../../images/room-page/deluxe-double-room-living-space-2048.jpg 2048w,
            ../../images/room-page/deluxe-double-room-living-space-2560.jpg 2560w
          "
          sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
          src="../../images/room-page/deluxe-double-room-living-space-414.jpg"
          alt="Житлова площа в двокімнатному люксі"
        />
      </li>
      <li class="swiper-slide">
        <img
          srcset="
            ../../images/room-page/deluxe-double-room-bathroom-414.jpg   414w,
            ../../images/room-page/deluxe-double-room-bathroom-828.jpg   828w,
            ../../images/room-page/deluxe-double-room-bathroom-1024.jpg 1024w,
            ../../images/room-page/deluxe-double-room-bathroom-1280.jpg 1280w,
            ../../images/room-page/deluxe-double-room-bathroom-2048.jpg 2048w,
            ../../images/room-page/deluxe-double-room-bathroom-2560.jpg 2560w
          "
          sizes="(min-width: 1280px) 1280px, (min-width: 1024px) 1024px, (min-width: 414px) 414px, 100vw"
          src="../../images/room-page/deluxe-double-room-bathroom-414.jpg"
          alt="Ванна кімната в двокімнатному люксі"
        />
      </li>
    </ul>
  </div>

  <a
    href="https://goo.gl/maps/CwNAtcZC6kYC8mgU7"
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="hero__geolink hero-room__geolink link"
  >
    <svg class="hero__geolink-icon" width="20" height="20">
      <use href="./images/icon.svg#icon-mitka"></use>
    </svg>
    Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</a
  >
  <div class="hero-room__slider-button-box">
    <button type="button" class="hero-room__slider-button swiper-button-prev">
      <svg width="40" height="40">
        <use href="./images/icon.svg#icon-left-arrow"></use>
      </svg>
    </button>
    <button type="button" class="hero-room__slider-button swiper-button-next">
      <svg width="40" height="40">
        <use href="./images/icon.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>

  <div class="hero-room__title-box">
    <h1 class="hero-room__title">
      Двомісний номер <span class="hero-room__title-part">люкс</span>
    </h1>
    <p class="hero-room__title-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>

  <div class="hero__buttons-box hero-room__buttons-box">
    <button
      type="button"
      class="hero__buttons popup-link"
      data-popup-btn="cost-hotel-1"
    >
      Переглянути ціни
    </button>
  </div>

  <ul class="social hero__social hero-room__social list">
    <li class="social__item">
      <a
        href="https://www.instagram.com/mimino.poltava/"
        class="social__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="social__icon" width="22" height="22">
          <use href="./images/icon.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        href="https://uk-ua.facebook.com/"
        class="social__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="social__icon" width="22" height="22">
          <use href="./images/icon.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        href="https://web.telegram.org/k/"
        class="social__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="social__icon" width="22" height="22">
          <use href="./images/icon.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
  <!-- </div> -->
</section>
