<section class="amenities">
	<div class="container">
		<h2 class="amenities__title">Зручності у номері</h2>
		<p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua
		 dolor do amet sint. Velit officia consequat duis enim 
		 velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
		<ul class="amenities__list list">
			<li class="amenities__item">
				<h3 class="amenities-room__title">Загальні</h3>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint. Velit officia consequat duis enim velit mollit.
					 Exercitation veniam consequat sunt nostrud amet.</p>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint. Velit officia consequat duis enim velit mollit.
					 Exercitation veniam consequat sunt nostrud amet.</p>
			</li>
			<li class="amenities__item">
				<h3 class="amenities-room__title">Ванна кімната</h3>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint. Velit officia consequat duis enim velit mollit.
					 Exercitation veniam consequat sunt nostrud amet.</p>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint. Velit officia consequat duis enim velit mollit.
					 Exercitation veniam consequat sunt nostrud amet.</p>
			</li>
			<li class="amenities__item">
				<h3 class="amenities-room__title">Спальня</h3>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint.</p>
			</li>
			<li class="amenities__item">
				<h3 class="amenities-room__title">Кухня</h3>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint.</p>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint.</p>
			</li>
			<li class="amenities__item">
				<h3 class="amenities-room__title">Медіа</h3>
				<p class="amenities-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
					 amet sint. Velit officia consequat duis enim velit mollit.</p>
			</li>
		</ul>
		<button type="button" class="amenities__btn">Оформити бронювання</button>
		<a href="./" class="return__link">
			Повернутися до перегляду номерів
			<svg class="return__icon">
				<use href="./images/icon.svg#icon-right-arrow"></use>
			</svg>
		</a>
	</div>
</section>