@import '~/node_modules/modern-normalize/modern-normalize.css';
@import '~/node_modules/swiper/swiper-bundle.min.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hide {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  overflow: hidden;
  word-wrap: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff2), url(../fonts/Montserrat-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff2), url(../fonts/Montserrat-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff2), url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Film P3";
  src: url(../fonts/FilmP3Bold.woff2), url(../fonts/FilmP3Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url(../fonts/TimesNewRomanMTStd-Bold.woff2), url(../fonts/TimesNewRomanMTStd-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url(../fonts/TimesNewRomanMTStd.woff2), url(../fonts/TimesNewRomanMTStd.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.amenities {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #FFFDEE;
}
@media screen and (min-width: 1024px) {
  .amenities {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.amenities__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  color: #000000;
  text-transform: uppercase;
}
.amenities__text {
  margin-bottom: 32px;
  min-width: 384px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
@media screen and (min-width: 1024px) {
  .amenities__text {
    width: 757px;
  }
}
.amenities__item {
  margin-bottom: 32px;
  min-width: 384px;
}
@media screen and (min-width: 1024px) {
  .amenities__item {
    min-width: 400px;
    display: flex;
    gap: 80px;
  }
}

.amenities-room__title {
  display: block;
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-transform: uppercase;
}

.amenities-room__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
.amenities-room__text:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .amenities-room__text {
    margin-bottom: 0;
  }
}

.section-about__content--reverse {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section-about__img-container--reverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.section-about__img--reverse {
  left: 0;
}

.swiper--reverse {
  left: 0;
  margin: 0 !important;
}

.swiper-btns--reverse {
  justify-content: flex-start !important;
}

.section__brand-title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.078125;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;
  margin-bottom: 24px;
}

.section-about {
  background-color: #FFFDEE;
  padding: 120px 0 225px;
}
.section-about__container {
  display: flex;
  margin-bottom: 162px;
}
.section-about__content {
  position: relative;
  width: 100%;
}
.section-about__tiitle {
  margin-bottom: 4px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #B4B4B4;
}
.section-about__subtitle {
  width: 518px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
.section-about__subtitle--reverse {
  width: 312px;
  color: #C79002;
}
.section-about__img--absolute {
  position: absolute;
  margin-right: 180px;
  top: 0;
  right: 0;
  transform: translateY(-25%);
}
.section-about__img {
  margin-right: 32px;
}
@media (min-width: 1024px) {
  .section-about__img {
    width: 350px;
    height: 500px;
  }
}
@media (min-width: 1280px) {
  .section-about__img {
    width: 460px;
    height: 574px;
  }
}
.section-about__box {
  height: auto;
  position: relative;
}
.section-about__img-container {
  display: flex;
  align-items: center;
}

.swiper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 548px;
  margin: 0;
  margin-right: 85px;
  transform: translateY(50%);
}
@media (min-width: 1024px) {
  .swiper {
    width: 428px;
  }
}
@media (min-width: 1280px) {
  .swiper {
    width: 548px;
  }
}
.swiper__container {
  position: relative;
  transform: translateY(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.swiper-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}
.swiper-btns {
  display: flex;
  justify-content: flex-end;
  gap: 44px;
}
.swiper-btn {
  position: static;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.swiper-btn::after {
  content: "";
}

.restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1024px) {
  .rextaurant__box-text {
    margin-left: 278px;
  }
}

.restaurant__title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.078125;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 40px;
}
@media screen and (min-width: 1024px) {
  .restaurant__title {
    margin-bottom: 16px;
    font-size: 64px;
  }
}

.restaurant__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .restaurant__subtitle {
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.restaurant__text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #bababa;
}
@media screen and (min-width: 1024px) {
  .restaurant__text {
    max-width: 610px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-slider__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-slider__block {
    margin-left: 29px;
  }
}

.restaurant-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}
@media screen and (max-width: 1023px) {
  .restaurant-slider__box-icon {
    margin-left: 40px;
    margin-bottom: 32px;
  }
}

.restaurant-slider__link-arrow {
  color: #ffffff;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.restaurant-slider__link-arrow:hover, .restaurant-slider__link-arrow:focus {
  color: #f3c653;
  transform: scale(1.05);
}

.restaurant-slider__icon {
  height: 32px;
  width: 32px;
  fill: currentColor;
}

.rextaurant__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .rextaurant__box-buttons {
    flex-direction: column;
    margin-left: 47px;
    margin-bottom: 60px;
  }
}

.restaurant__button {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.02em;
}
.restaurant__button:hover, .restaurant__button:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.restaurant__link {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: inline-block;
  padding: 12px 0;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.restaurant__link:hover, .restaurant__link:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.65);
}

.hotel__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 144px;
}
@media screen and (min-width: 1024px) {
  .hotel__box {
    margin-right: 278px;
    text-align: justify;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__box {
    flex-direction: column;
    align-items: flex-end;
  }
}

.hotel__box-text {
  text-align: end;
}

.hotel__title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .hotel__title {
    margin-bottom: 16px;
    font-size: 64px;
  }
}

.hotel__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hotel__subtitle {
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.hotel__text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #bababa;
}
@media screen and (min-width: 1024px) {
  .hotel__text {
    max-width: 549px;
    margin-bottom: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .hotel-slider__box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.hotel-slider__block {
  margin-right: 32px;
}

.hotel-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 32px;
}
@media screen and (max-width: 1023px) {
  .hotel-slider__box-icon {
    margin-right: 43px;
    margin-bottom: 32px;
  }
}

.hotel-slider__link {
  color: #ffffff;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hotel-slider__link:hover, .hotel-slider__link:focus {
  color: #f3c653;
  transform: scale(1.05);
}

.hotel-slider__icon {
  height: 32px;
  width: 32px;
  fill: currentColor;
}

.hotel__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hotel__box-buttons {
    margin-right: 47px;
    flex-direction: column;
    transform: translateY(-60px);
  }
}

.hotel__button {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.02em;
}
.hotel__button:hover, .hotel__button:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.hotel__link {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: inline-block;
  padding: 12px 0;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.hotel__link:hover, .hotel__link:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.footer {
  background-color: #0E0C07;
}
.footer__logo {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #F3C653;
}
.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #F3C653;
}
.footer__icon {
  fill: rgba(243, 198, 83, 0.7);
}
.footer__nav {
  display: flex;
  justify-content: space-around;
}
.footer__network {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .footer__list:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer__list:last-child {
    margin-bottom: 33px;
  }
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body.lock {
  overflow: hidden;
}

.popup {
  visibility: hidden;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 48, 61, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.popup.open .popup__content {
  transform: scale(1);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 60px 15px;
  transition: all 0.8s ease 0s;
}
.popup__content {
  padding: 50px;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(41, 48, 61, 0.15);
  max-width: 900px;
  width: 100%;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: scale(0.7);
}
.popup__title {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
}
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=index.css.map */