@import '~/node_modules/modern-normalize/modern-normalize.css';
@import '~/node_modules/swiper/swiper-bundle.min.css';
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 38px;
  line-height: 36px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .nice-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .nice-select-dropdown {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .nice-select-dropdown {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .nice-select-dropdown {
  margin-top: 4px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(19px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  opacity: 0;
}
.nice-select .list {
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  max-height: 210px;
  overflow-y: auto;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.nice-select .optgroup {
  font-weight: bold;
}

.no-csspointerevents .nice-select .nice-select-dropdown {
  display: none;
}
.no-csspointerevents .nice-select.open .nice-select-dropdown {
  display: block;
}

.nice-select .list::-webkit-scrollbar {
  width: 0;
}

.nice-select .has-multiple {
  white-space: inherit;
  height: auto;
  padding: 7px 12px;
  min-height: 36px;
  line-height: 22px;
}
.nice-select .has-multiple span.current {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.nice-select .has-multiple .multiple-options {
  display: block;
  line-height: 24px;
  padding: 0;
}
.nice-select .nice-select-search-box {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  border-radius: 5px 5px 0 0;
}
.nice-select .nice-select-search {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 100%;
  min-height: 36px;
  line-height: 22px;
  height: auto;
  outline: 0 !important;
  font-size: 14px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hide {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  overflow: hidden;
  word-wrap: normal !important;
}

.section__brand-title {
  margin-bottom: 24px;
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;
}
@media (min-width: 1024px) {
  .section__brand-title {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.078125;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #494848;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff2), url(../fonts/Montserrat-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff2), url(../fonts/Montserrat-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff2), url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Film P3";
  src: url(../fonts/FilmP3Bold.woff2), url(../fonts/FilmP3Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url(../fonts/TimesNewRomanMTStd-Bold.woff2), url(../fonts/TimesNewRomanMTStd-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url(../fonts/TimesNewRomanMTStd.woff2), url(../fonts/TimesNewRomanMTStd.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.swiper-main {
  margin: 0;
}
@media (max-width: 1023px) {
  .swiper-main {
    flex-basis: 540px;
    flex-shrink: 0;
    transform: translateX(30px);
  }
}
@media (min-width: 1024px) {
  .swiper-main {
    width: 428px;
    position: absolute;
    transform: translateY(80%);
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1280px) {
  .swiper-main {
    width: 548px;
    transform: translateY(50%);
  }
}
.swiper-main__swiper-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}
@media (max-width: 1023px) {
  .swiper-main__swiper-wrapper {
    height: 245px;
  }
}
.swiper-main__img {
  border-radius: 2px;
}
.swiper-main__arrow {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-main__arrow:hover, .swiper-main__arrow:focus {
  fill: #F3C653;
}

.swiper-btns {
  display: flex;
  gap: 44px;
}
@media (min-width: 414px) {
  .swiper-btns {
    justify-content: flex-end;
    width: 350px;
  }
}
@media (min-width: 1024px) {
  .swiper-btns {
    justify-content: flex-end;
    width: 100%;
  }
}

.swiper-btn {
  position: static;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.swiper-btn::after {
  content: "";
}

@media (max-width: 1023px) {
  .swiper-slide-next {
    opacity: 60%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.reverse .swiper-main {
  left: 0;
  margin: 0 !important;
}
@media (max-width: 1023px) {
  .reverse .swiper-main {
    transform: translateX(-30px);
  }
}
.reverse .swiper-btns {
  justify-content: flex-end;
}
@media (max-width: 413px) {
  .reverse .swiper-btns {
    width: 100%;
  }
}
@media (min-width: 414px) {
  .reverse .swiper-btns {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .reverse .swiper-btns {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .reverse .swiper-btns {
    justify-content: flex-start !important;
  }
}
@media (max-width: 1023px) {
  .reverse .swiper-slide-next {
    opacity: 100%;
  }
}
@media (max-width: 1023px) {
  .reverse .is-play {
    opacity: 60%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.amenities {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #FFFDEE;
}
@media screen and (min-width: 1024px) {
  .amenities {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.amenities__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  color: #000000;
  text-transform: uppercase;
}
.amenities__text {
  margin-bottom: 32px;
  min-width: 384px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
@media screen and (min-width: 1024px) {
  .amenities__text {
    max-width: 757px;
    flex-basis: calc((100% - 80px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .amenities__text {
    flex-basis: calc((100% - 159px) / 2);
  }
}
.amenities__item {
  margin-bottom: 32px;
}

.amenities-room__title {
  display: block;
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .amenities-room__conteiner {
    display: flex;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities-room__conteiner {
    gap: 159px;
  }
}

.amenities-room__text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
.amenities-room__text:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .amenities-room__text {
    margin-bottom: 0;
    flex-basis: calc((100% - 80px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .amenities-room__text {
    flex-basis: calc((100% - 159px) / 2);
  }
}

.amenities-room__btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .amenities-room__btn {
    flex-direction: column;
    align-items: flex-end;
  }
}

.amenities__btn {
  margin-bottom: 20px;
  padding: 20px 43px;
  min-width: 384px;
  height: 64px;
  background: #000000;
  color: #ffffff;
  border: 1px solid #F3C653;
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.amenities__btn:hover, .amenities__btn:focus {
  color: #000000;
  background: #f3c653;
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .amenities__btn {
    width: 434px;
    padding: 18px 38px;
  }
}

.return__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #C79002;
}
@media screen and (min-width: 1024px) {
  .return__link {
    font-size: 20px;
    line-height: 1.2;
  }
}
.return__link:hover, .return__link:focus {
  color: #F3C653;
}

.return__icon {
  margin-left: 12px;
  fill: currentColor;
}
@media screen and (min-width: 1024px) {
  .return__icon {
    margin-left: 16px;
  }
}

.section-about {
  background-color: #FFFDEE;
  padding: 16px 0 28px;
}
@media (min-width: 1024px) {
  .section-about {
    padding: 120px 0 262px;
  }
}
@media (min-width: 1280px) {
  .section-about {
    padding-bottom: 225px;
  }
}
.section-about__container-content {
  display: flex;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 1024px) {
  .section-about__container-content {
    margin-bottom: 142px;
  }
}
@media (min-width: 1280px) {
  .section-about__container-content {
    margin-bottom: 162px;
  }
}
.section-about__content {
  position: relative;
  width: 100%;
}
.section-about__title {
  margin-bottom: 4px;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15625;
  color: #B4B4B4;
}
@media (min-width: 1024px) {
  .section-about__title {
    font-size: 32px;
  }
}
.section-about__subtitle {
  width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
@media (max-width: 1023px) {
  .section-about__subtitle {
    margin-bottom: 28px;
  }
}
@media (min-width: 1024px) {
  .section-about__subtitle {
    width: 440px;
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .section-about__subtitle {
    width: 518px;
  }
}
.section-about__subtitle--reverse {
  margin-left: 20px;
  color: #C79002;
}
@media (min-width: 1024px) {
  .section-about__subtitle--reverse {
    margin-left: 48px;
    width: 312px;
  }
}
@media (min-width: 1280px) {
  .section-about__subtitle--reverse {
    margin-left: 32px;
  }
}
.section-about__img--absolute {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .section-about__img--absolute {
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .section-about__img--absolute {
    margin-right: 52px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-25%);
  }
}
@media (min-width: 1280px) {
  .section-about__img--absolute {
    margin-right: 95px;
  }
}
.section-about__box {
  height: auto;
  position: relative;
}
.section-about__img-container {
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .section-about__img-container {
    margin-bottom: 30px;
  }
}
.section-about__img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .section-about__img {
    max-width: none;
  }
}
.section-about__box-swiper {
  overflow: hidden;
  display: flex;
}

.reverse .section-about__container-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.reverse .section-about__img-container {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
@media (max-width: 1023px) {
  .reverse .section-about__picture {
    align-self: flex-start;
  }
}
@media (min-width: 1024px) {
  .reverse .section-about__img--absolute {
    left: 0;
  }
}
.reverse .section-about__subtitle--reverse {
  margin-left: 0;
  margin-right: 32px;
}
@media (max-width: 1023px) {
  .reverse .section-about__box-swiper {
    flex-direction: row-reverse;
  }
}

.header {
  position: absolute;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
  z-index: 3;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.header__logo {
  text-decoration: none;
  font-family: "Film P3", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.083;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding: 16px 0;
  margin-left: 0;
  margin-right: auto;
  transition: color 250ms linear;
}
.header__logo:hover, .header__logo:focus {
  color: #C79002;
}
@media screen and (min-width: 414px) {
  .header__logo {
    margin-right: 52px;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    font-size: 40px;
    line-height: 1.075;
    margin-right: 87px;
    padding: 24px 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: 96px;
  }
}
.header__link {
  display: flex;
  gap: 12px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header__link {
    gap: 32px;
  }
}
.header__nav-list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .header__nav-list {
    gap: 72px;
  }
}
.header__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 1024px) {
  .header__item {
    gap: 32px;
  }
}
.header__nav-phone {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header__nav-phone {
    gap: 16px;
  }
}
.header__phone-text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__phone-text {
    display: block;
  }
}
.header__nav-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
  display: block;
  padding: 16px 0;
  transition: color 250ms linear;
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #C79002;
}
@media screen and (min-width: 1024px) {
  .header__nav-link {
    padding: 24px 0;
    font-size: 20px;
    line-height: 1.2;
  }
}
.header__nav-contact {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 300;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition: color 250ms linear;
}
.header__nav-contact:hover, .header__nav-contact:focus {
  color: #C79002;
}
@media screen and (min-width: 1024px) {
  .header__nav-contact--padding {
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
.header__social {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__social {
    display: flex;
    gap: 23px;
    margin-left: 60px;
  }
}
.header__icon {
  display: none;
  fill: currentColor;
  color: #F3C653;
}
@media screen and (min-width: 414px) {
  .header__icon {
    display: flex;
  }
}
@media screen and (min-width: 414px) {
  .header__phone {
    display: flex;
  }
}
.header__phone__social-icon {
  color: #F3C653;
  transition: color 250ms linear;
}
.header__phone__social-icon:hover, .header__phone__social-icon:focus {
  color: #C79002;
}
.header__phone__social-icon--facebook {
  color: rgba(243, 198, 83, 0.7);
  transition: color 250ms linear;
}
.header__phone__social-icon--facebook:hover, .header__phone__social-icon--facebook:focus {
  color: #C79002;
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant {
  padding-top: 24px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1024px) {
  .rextaurant__box-text {
    margin-left: 278px;
  }
}

.restaurant__title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.078125;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 40px;
}
@media screen and (min-width: 1024px) {
  .restaurant__title {
    margin-bottom: 16px;
    font-size: 64px;
  }
}

.restaurant__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .restaurant__subtitle {
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.restaurant__text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #bababa;
}
@media screen and (min-width: 1024px) {
  .restaurant__text {
    max-width: 610px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-slider__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-slider__block {
    margin-left: 29px;
  }
}

.restaurant-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}
@media screen and (max-width: 1023px) {
  .restaurant-slider__box-icon {
    margin-left: 40px;
    margin-bottom: 32px;
  }
}

.restaurant-slider__button-arrow {
  color: #ffffff;
  border: none;
  cursor: pointer;
  background: transparent;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.restaurant-slider__button-arrow:hover, .restaurant-slider__button-arrow:focus {
  color: #f3c653;
  transform: scale(1.05);
}

.restaurant-slider__icon {
  height: 32px;
  width: 32px;
  fill: currentColor;
}

.rextaurant__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .rextaurant__box-buttons {
    flex-direction: column;
    margin-left: 47px;
    margin-bottom: 60px;
  }
}

.restaurant__button {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.02em;
}
.restaurant__button:hover, .restaurant__button:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.restaurant__link {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: inline-block;
  padding: 12px 0;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.restaurant__link:hover, .restaurant__link:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.65);
}

.hotel__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 144px;
}
@media screen and (min-width: 1024px) {
  .hotel__box {
    margin-right: 278px;
    text-align: justify;
  }
}
@media screen and (min-width: 1280px) {
  .hotel__box {
    flex-direction: column;
    align-items: flex-end;
  }
}

.hotel__box-text {
  text-align: end;
}

.hotel__title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .hotel__title {
    margin-bottom: 16px;
    font-size: 64px;
  }
}

.hotel__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hotel__subtitle {
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.hotel__text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #bababa;
}
@media screen and (min-width: 1024px) {
  .hotel__text {
    max-width: 549px;
    margin-bottom: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .hotel-slider__box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.hotel-slider__block {
  margin-right: 32px;
}

.hotel-slider__box-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 32px;
}
@media screen and (max-width: 1023px) {
  .hotel-slider__box-icon {
    margin-right: 43px;
    margin-bottom: 32px;
  }
}

.hotel-slider__button {
  color: #ffffff;
  border: none;
  cursor: pointer;
  background: transparent;
  transform: scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hotel-slider__button:hover, .hotel-slider__button:focus {
  color: #f3c653;
  transform: scale(1.05);
}

.hotel-slider__icon {
  height: 32px;
  width: 32px;
  fill: currentColor;
}

.hotel__box-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hotel__box-buttons {
    margin-right: 47px;
    flex-direction: column;
    transform: translateY(-60px);
  }
}

.hotel__button {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.02em;
}
.hotel__button:hover, .hotel__button:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.hotel__link {
  min-width: 236px;
  height: 48px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;
  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  border: 2px solid #ffffff;
  transform: scale(1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: inline-block;
  padding: 12px 0;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.hotel__link:hover, .hotel__link:focus {
  background: #ffffff;
  border-color: #f3c653;
  transform: scale(1.05);
}

.contacts {
  background-color: #FFFDEE;
}
.contacts-container {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 32px;
}
@media (min-width: 1024px) {
  .contacts-container {
    padding-top: 56px;
    padding-bottom: 40px;
    flex-direction: row;
    gap: 108px;
  }
}
.contacts-wrap {
  max-width: 414px;
}
@media (min-width: 1024px) {
  .contacts-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2px;
  }
}
.contacts-title {
  margin-bottom: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
@media (min-width: 1024px) {
  .contacts-title {
    width: 297px;
    margin-bottom: 54px;
  }
}
.contacts-holder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .contacts-holder {
    gap: 24px;
    margin-bottom: 48px;
  }
}
.contacts-item {
  display: flex;
  gap: 30px;
}
@media (min-width: 1024px) {
  .contacts-item {
    flex-direction: column;
    gap: 8px;
  }
}
.contacts-name {
  display: flex;
  align-items: center;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #C79002;
}
.contacts-details {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  width: 260px;
  background-color: #ffffff;
  border: 0.5px solid #F3C653;
  border-radius: 4px;
}

.contacts-details.contacts--short {
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo-title {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;
  margin-bottom: 12px;
}
@media (min-width: 414px) {
  .logo-title {
    font-family: "Film P3";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.078125;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #494848;
    margin-bottom: 8px;
  }
}

.phone {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.02em;
  color: #494848;
}
.phone-icon {
  margin-right: 8px;
  margin-left: 8px;
  fill: #C79002;
}

.address {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .address {
    margin-bottom: 2px;
  }
}
.address-wrap {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  width: 254px;
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid #F3C653;
  border-radius: 2px;
}
@media (min-width: 1024px) {
  .address-wrap {
    width: 285px;
  }
}
.address-icon {
  margin-left: 10px;
  margin-right: 10px;
  fill: #C79002;
}
.address-text {
  max-width: 183px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #494848;
}
@media (min-width: 1024px) {
  .address-text {
    max-width: 233px;
  }
}

.map-wrap {
  padding-top: 13px;
  width: 100%;
}

.map-frame {
  border: 1px solid #bababa;
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 414px) {
  .map-frame {
    min-width: 384px;
    height: 220px;
  }
}
@media (min-width: 1024px) {
  .map-frame {
    width: 100%;
    height: 100%;
  }
}

.map-holder {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #0E0C07;
}
.footer__logo {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #F3C653;
}
.footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #F3C653;
}
.footer__icon {
  fill: rgba(243, 198, 83, 0.7);
}
.footer__nav {
  display: flex;
  justify-content: space-around;
}
.footer__network {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .footer__list:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer__list:last-child {
    margin-bottom: 33px;
  }
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body.lock {
  overflow: hidden;
}

.popup {
  display: flex;
  visibility: hidden;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 48, 61, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.popup.open .popup__content {
  transform: scale(1);
  opacity: 1;
}
.popup__body {
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 414px;
  width: 100%;
  transition: all 0.8s ease 0s;
}
@media (min-width: 1024px) {
  .popup__body {
    max-width: 712px;
  }
}
.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 15px;
  width: 100%;
  overflow-x: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(41, 48, 61, 0.15);
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: scale(0.7);
}
@media (min-width: 1024px) {
  .popup__content {
    padding: 60px;
  }
}
.popup__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.popup__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  fill: #000000;
  border: none;
  background: transparent;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .user-form {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -8px;
  }
}
.user-form__thumb-rest {
  margin-bottom: 20px;
}
.user-form__thumb-rest:last-of-type {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .user-form__thumb-rest {
    width: calc((100% - 32px) / 2);
    margin: 8px;
  }
}
.user-form__area {
  display: block;
  margin-bottom: 8px;
  height: 54px;
  padding: 17px 12px;
  width: 100%;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  outline: transparent;
  color: #808080;
  border: 1px solid #C79002;
}
.user-form__lable {
  display: block;
  margin-left: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  /* Brown */
  color: #c79002;
}
.user-form__select {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  width: 100%;
  padding: 17px 12px;
  align-items: center;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  border: 1px solid #C79002;
}
.user-form__select::after {
  position: absolute;
  border-color: #C79002;
  border-width: 3px;
  height: 12px;
  width: 12px;
  top: 50%;
  right: 15px;
  margin-top: -5px;
}
.user-form__select:hover, .user-form__select:active, .user-form__select.nice-select.open, .user-form__select:focus {
  border-color: #C79002;
}
.user-form__button {
  display: block;
  padding: 20px 0px;
  max-width: 384px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  /* White */
  color: #ffffff;
  /* Black */
  background: #000000;
  /* Akzent yellow */
  border: 1px solid #f3c653;
  border-radius: 2px;
}
.user-form__hotel {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .user-form__hotel {
    align-items: flex-end;
  }
}
.user-form__thumb-hotel {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .user-form__thumb-hotel {
    width: 288px;
  }
  .user-form__thumb-hotel + .user-form__thumb-hotel {
    gap: 16px;
  }
}
.user-form__box:last-of-type {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .user-form__box {
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=index.css.map */