.section {
    background-color: $bgcSectionAboutColor;
    color: $arrowsSectionAboutColor;
    @include for-tablet-up {
    background-color: #F0ECD6;
    }
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding-top: 32px;

    @include for-tablet-up {
    padding-top: 58px;
    margin-top: 0;
    }
}

.section__button {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
@include for-tablet-desktop {
    .section__button {
        justify-content: right;
        margin-right: 47px;
        padding-top: 41px;
        padding-bottom: 40px
    }
}
@include for-desktop-up {
    .section__button {
        justify-content: right;
        margin-right: 85px;
        padding-top: 32px;
        padding-bottom: 60px;
    }
}

.restaurant-menu {
    width: 100%;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        line-height: 1.2;
    }

    &__weight {
        width: 70px;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.21;
        @include for-desktop-up {
        font-size: 16px;
        line-height: 1.25;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        @include for-desktop-up {
        font-size: 16px;
        line-height: 1.25;
        }
    }

    &__title {
        width: 222px;
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        @include for-tablet-up {
        width: 230px;   
        }
        @include for-desktop-up {
        font-size: 16px;
        line-height: 1.25;
        }
    }
    &__title--drinks {
        margin-bottom: 0;
        @include for-tablet-up {
        width: 230px;
        }
        
        @include for-desktop-up {
        width: 262px;
        }
    }
    &__title--desserts {
        @include for-tablet-up {
        width: 230px;
        }
    
        @include for-desktop-up {
        width: 262px;
        }
    }
    &__ingredients {
        width: 220px;
        margin-top: 0;
        font-size: 10px;
        line-height: 1.2;
        @include for-tablet-up {
        width: 230px;   
        }
        @include for-desktop-up {
         width: 262px;
        }
    }
    &:not(:last-child) {
        margin-bottom: 8px;
        @include for-desktop-up {
        margin-bottom: 12px;
    }
    }
}

.menu-title {
    font-family: 'Times New Roman';
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.15;
}
.menu-table-title {
    font-family: 'Times New Roman';
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.15;
    @include for-desktop-up {
    font-size: 24px;
    line-height: 1.16;
    }
    &:not(:first-child) {
        margin-top: 16px;
    }
        @include for-tablet-up {
        margin-bottom: 20px;
        &:not(:first-child) {     
        margin-top: 20px;
        }
    }
}
.menu-table-title--salads {
    @include for-tablet-down {
    margin-top: 16px;  
    }
}

@include for-tablet-up {
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
}

@include for-tablet-desktop {
    .menu__item {
        flex-basis: calc((100% - 88px) / 2);
        margin-right: 88px;
    }
}

@include for-desktop-up {
    .menu__item {
        flex-basis: calc((100% - 140px) / 2);
        margin-right: 140px;
    }
}

@include for-tablet-up {
    .menu__item:nth-last-child(2n+1) {
        margin-right: 0;
    }
}  

.restaurant-button {
    @include button_MinWidth_Bg ($buttons-min-width: $buttons-min-width);
}