body {
    background-color: $bgcSectionAboutColor;
    margin: 0;
    font-weight: 400;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    @media (min-width: $tabletScreen) {
    background-color: #F0ECD6; 
    }
}

.section {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    @media (min-width: $tabletScreen) {
    padding-top: 58px;
    margin-top: 0;
    }

    @media screen and (min-width: $mobileScreen) {
        max-width: $mobileScreen;
    }

    @media screen and (min-width: $tabletScreen) {
        max-width: $tabletScreen;
        padding-left: 47px;
        padding-right: 47px;
    }

    @media screen and (min-width: $desktopScreen) {
        max-width: $desktopScreen;
        padding-left: 85px;
        padding-right: 85px;
    }
}

.section__button {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
@media (min-width: $tabletScreen) and (max-width: ($desktopScreen - 1px)) {
    .section__button {
        justify-content: end;
        margin-right: 47px;
        margin-top: 41px;
        margin-bottom: 40px;
    }
}
@media (min-width: $desktopScreen) {
    .section__button {
        justify-content: end;
        margin-right: 85px;
        margin-top: 32px;
        margin-bottom: 60px;
    }
}

.restaurant-menu {
    width: 100%;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        line-height: 1.2;
    }

    &__weight {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.21;
        @media (min-width: $desktopScreen) {
        font-size: 16px;
        line-height: 1.25;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        @media (min-width: $desktopScreen) {
        font-size: 16px;
        line-height: 1.25;
        }
    }

    &__title {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        @media (min-width: $desktopScreen) {
        font-size: 16px;
        line-height: 1.25;
        }
    }
    &__ingredients {
        width: 220px;
        margin-top: 0;
        font-size: 10px;
        line-height: 1.2;
        @media (min-width: $desktopScreen) {
         width: 257px;
        }
    }
    // &:not(:last-child) {
    //     margin-bottom: 8px;
    // }
}

.menu-title {
    font-family: 'Times New Roman';
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.15;
}
.menu-table-title {
    font-family: 'Times New Roman';
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.15;
    @media (min-width: $desktopScreen) {
    font-size: 24px;
    line-height: 1.16;
    }
    &:not(:first-child) {
        margin-top: 16px;
}
}
.menu-table-title--salads {
    @media (max-width: ($tabletScreen - 1px)) {
    margin-top: 16px;  
    }
}

@media (min-width: $tabletScreen) {
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: $tabletScreen) and (max-width: ($desktopScreen - 1px)) {
    .menu__item {
        flex-basis: calc((100% - 88px) / 2);
        margin-right: 88px;
    }
}

@media (min-width: $desktopScreen) {
    .menu__item {
        flex-basis: calc((100% - 140px) / 2);
        margin-right: 140px;
    }
}

@media (min-width: $tabletScreen) {
    .menu__item:nth-last-child(2n+1) {
        margin-right: 0;
    }
}  

.restaurant-button {
    @include button_MinWidth_Bg ($buttons-min-width: $buttons-min-width);
}