@mixin button_MinWidth_Bg(
  $buttons-min-width: $buttons-min-width,
  $buttons-background: $buttons-background
) {
  min-width: $buttons-min-width;
  height: 48px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.22;

  color: #f3c653;
  background: $buttons-background;

  border-radius: $buttons-border-radius;
  border: 2px solid #ffffff;

  transform: scale(1);
  transition: background 250ms $transitionTimeFunction,
    border-color 250ms $transitionTimeFunction,
    transform 250ms $transitionTimeFunction;

  cursor: pointer;

  &:hover,
  &:focus {
    background: #ffffff;
    border-color: #f3c653;
    transform: scale(1.05);
  }
}

@mixin button_MinWidth_BorderR(
  $buttons-min-width: $buttons-min-width,
  $buttons-border-radius: $buttons-border-radius
) {
  min-width: $buttons-min-width;

  font-family: inherit;
  font-weight: 500;

  color: #ffffff;
  background: #000000;

  border-radius: $buttons-border-radius;
  border: 1px solid #f3c653;

  transform: scale(1);
  transition: color 250ms $transitionTimeFunction,
    background 250ms $transitionTimeFunction,
    transform 250ms $transitionTimeFunction;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #000000;
    background: #f3c653;
    transform: scale(1.05);
  }
}
// Logo-title 
@mixin logo-title-mobile ($color) {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color;
}

// * logo-title for tablet and desktop - the same *
@mixin logo-title-tablet-desktop ($color) {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: calc(69 / 64);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color;
}
