$mobileScreen: 414px;
$tabletScreen: 1024px;
$desktopScreen: 1280px;
$bcgFooterColor: #0E0C07;
$accentYellowColor: #F3C653;
$accentLightYellowColor: rgba(243, 198, 83, 0.7);

// mixin buttons
$buttons-min-width: 232px;
$buttons-background: #000000;
$buttons-border-radius: 25px;

$transitionMsFunction: 250ms;
$transitionTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);

// dark sections Hotel and Restaurant
$bcgHotelRestColor: rgba(0, 0, 0, 0.65); // Hotel and Restaurrant background for Dark sections
$paragraphHotelRestColor: #bababa;
$bcgSemitranspBtnColor: rgba(0, 0, 0, 0.4); //  semitransparent button color 

// header variables
$whiteColor: #ffffff;
$headerShadow: 180deg;
$blackColor: #000000;
$blackTransp55Color: rgba(0, 0, 0, 0.55); // transparent 54.17%


// section Contact variables
$bcgContactColor: #FFFDEE;
$titleContactColor: #7A7A7A;
$brownContactColor: #C79002;
$linkContactColor: #828282;
$linkContactMobileColor: #494848;

// section about color
$titleSectionAboutColor: #B4B4B4;
$subtitleSectionAboutColor: #7A7A7A;
$brownSectionAboutColor: #C79002;
$bgcSectionAboutColor: #FFFDEE;
$arrowsSectionAboutColor: #000000;