$mobileScreen: 414px;
$tabletScreen: 1024px;
$desktopScreen: 1280px;
$bcgFooterColor: #0E0C07;
$accentYellowColor: #F3C653;
$accentLightYellowColor: rgba(243, 198, 83, 0.7);


// $transitionTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);