<section class="section section-about reverse" data-slider="team-slider">
  <div class="container">
    <div class="section-about__container-content">
      <h2 class="section-about__title">Amet minim mollit non</h2>
      <h3 class="section__brand-title">MIMIHO</h3>
      <p class="section-about__subtitle">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="section-about__picture">
        <source
          srcset="
            ./images/home-page/hotel-about/image_hotel_1.jpg    1x,
            ./images/home-page/hotel-about/image_hotel_1@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/home-page/hotel-about/tablet_image_hotel_1.jpg    1x,
            ./images/home-page/hotel-about/tablet_image_hotel_1@2x.jpg 2x
          "
          media="(min-width:1024px)"
        />
        <img
          class="section-about__img section-about__img--absolute"
          srcset="
            ./images/home-page/hotel-about/mobile_image_hotel_1.jpg    1x,
            ./images/home-page/hotel-about/mobile_image_hotel_1@2x.jpg 2x
          "
          src="./images/home-page/hotel-about/mobile_image_hotel_1.jpg"
          alt=""
        />
      </picture>
    </div>

    <div class="section-about__box">
      <div class="section-about__img-container">
        <picture>
          <source
            srcset="
              ./images/home-page/hotel-about/image_hotel_2.jpg    1x,
              ./images/home-page/hotel-about/image_hotel_2@2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/home-page/hotel-about/tablet_image_hotel_2.jpg    1x,
              ./images/home-page/hotel-about/tablet_image_hotel_2@2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <img
            class="section-about__img"
            srcset="
              ./images/home-page/hotel-about/mobile_image_hotel_2.jpg    1x,
              ./images/home-page/hotel-about/mobile_image_hotel_2@2x.jpg 2x
            "
            src="./images/home-page/hotel-about/mobile_image_hotel_2.jpg"
            alt=""
          />
        </picture>

        <p class="section-about__subtitle section-about__subtitle--reverse">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="section-about__box-swiper">
        <div class="swiper swiper-main swiper-main--reverse">
          <ul class="swiper-wrapper swiper-main__swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_1.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_1@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_1.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_1@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_1.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_1@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_1.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_2.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_2@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_2.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_2@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_2.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_2@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_2.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg"
                  alt=""
                />
              </picture>
            </li>
          </ul>

          <div class="swiper-btns swiper-btns--reverse">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
