<section class="section section-ab-rest" data-slider="team-slider">
  <div class="container">
    <div class="section-ab-rest__container">
      <div class="section-ab-rest__content">
        <h2 class="section__title">Amet minim mollit non</h2>
        <h3 class="section__brand-title">MIMIHO</h3>
        <p class="section-ab-rest__subtitle">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="section-ab-rest__img-container">
        <img
          class="section-ab-rest__img"
          src="./images/image_restaurant_1.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="section-ab-rest__img2-box">
      <div class="section-ab-rest__img2-container">
        <img
          class="section-ab-rest__img2"
          src="./images/image_restaurant_2.jpg"
          alt=""
        />
  
        <p class="section-ab-rest__subtitle2">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="swiper__container">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="./images/slider_restaurant_1.jpg" alt="" />
            </li>
            <li class="swiper-slide">
              <img src="./images/slider_restaurant_2.jpg" alt="" />
            </li>
            <li class="swiper-slide">
              <img src="./images/slider_restaurant_3.jpg" alt="" />
            </li>
            <li class="swiper-slide">
              <img src="./images/slider_restaurant_4.jpg" alt="" />
            </li>
            <li class="swiper-slide">
              <img src="./images/slider_restaurant_5.jpg" alt="" />
            </li>
          </ul>
  
          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg width="30" height="17">
                <use href="./images/icon.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg width="30" height="17">
                <use href="./images/icon.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
          <!-- коментуємо чи видаляемо якщо не потрібно -->
        </div>
      </div>
    </div>
</section>
