<section class="contacts">
<div class="container">
<div class="contacts-container">
    <!-- скритий заголовок  -->
    <h2 class="hide">Contacts</h2>
    <div class="contacts-wrap">
    <h3 class="logo-title">MIMIHO</h3>
    <p class="contacts-title">Ресторанно-готельний
        комплекс</p>
         <div class="contacts-holder">
               <ul class="contacts-item">
                       <li class="contacts-name">Ресторан</li>
                       <li class="contacts-details contacts--short">
                           <a class="phone" href="tel:+380955559533">
                               <svg class="phone-icon" width="24" height="24">
                                   <use href="./images/icon.svg#icon-mobil"></use>
                               </svg>095 555 95 33</a>
                       </li>
               </ul>
               <ul class="contacts-item">
                   <li class="contacts-name">Готель</li>
                   <li>
                    <ul class="contacts-details">
                        <li class="phone-info">
                            <a class="phone" href="tel:+380668491089">
                                <svg class="phone-icon" width="24" height="24">
                                    <use href="./images/icon.svg#icon-mobil"></use>
                                </svg>066 849 10 89</a>
                        </li>
                        <li class="phone-info">
                            <a class="phone" href="tel:+380668491089">
                                067 275 85 40</a>
                        </li>
                    </ul>
                   </li>
               </ul>
         </div>
    <!-- блок з адресою  -->
                <address class="address">
                    <div class="address-wrap">
                    <svg class="address-icon" width="24" height="24">
                        <use href="./images/icon.svg#icon-mitka"></use>
                    </svg>
                    <p class="address-text">Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
                    </div>
                </address>
    </div>
    <!-- блок з картою     -->
            <div class="map-wrap">
                <div class="map-frame">
                    <iframe class="map-holder" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9233991623396!2d34.52435761581703!3d49.599193979367016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2sua!4v1674849762189!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
</div>
</div>
</section>