<section class="restaurant" data-slider="details-slider">
  <div class="container">
    <div class="rextaurant__box-text">
      <h2 class="restaurant__title">MIMIHO</h2>
      <h3 class="restaurant__subtitle">Ресторан</h3>
      <p class="restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restaurant-slider__box">
      <div class="swiper restaurant-slider__block">
        <ul class="list restaurant-slider__item swiper-wrapper">
          <li class="swiper-slide">
            <img
              srcset="
                ./images/home-page/restaurant-details/steak-548.jpg 548w,
                ./images/home-page/restaurant-details/steak-540.jpg 540w,
                ./images/home-page/restaurant-details/steak-274.jpg 274w,
                ./images/home-page/restaurant-details/steak-270.jpg 270w
              "
              sizes="(min-width: 1280px) 900px, (min-width: 1024px) 700px, (min-width: 414px) 300px, 100vw"
              src="./images/home-page/restaurant-details/steak-270.jpg"
              alt="Steak"
            />
          </li>
          <li class="swiper-slide">
            <img
              srcset="
                ./images/home-page/restaurant-details/shish-kebab-548.jpg 548w,
                ./images/home-page/restaurant-details/shish-kebab-324.jpg 324w,
                ./images/home-page/restaurant-details/shish-kebab-274.jpg 274w,
                ./images/home-page/restaurant-details/shish-kebab-162.jpg 162w
              "
              sizes="(min-width: 1280px) 900px, (min-width: 1024px) 700px, (min-width: 414px) 300px, 100vw"
              src="./images/home-page/restaurant-details/shish-kebab-162.jpg"
              alt="Shish-kebab"
            />
          </li>
          <li class="swiper-slide">
            <img
              srcset="
                ./images/home-page/restaurant-details/appetizers-540.jpg 540w,
                ./images/home-page/restaurant-details/appetizers-324.jpg 324w,
                ./images/home-page/restaurant-details/appetizers-270.jpg 270w,
                ./images/home-page/restaurant-details/appetizers-162.jpg 162w
              "
              sizes="(min-width: 1280px) 900px, (min-width: 1024px) 700px, (min-width: 414px) 300px, 100vw"
              src="./images/home-page/restaurant-details/appetizers-162.jpg"
              alt="Appetizers"
            />
          </li>
        </ul>
        <div class="swiper-btns restaurant-slider__box-icon">
          <button
            type="button"
            class="swiper-btn swiper-button-prev restaurant-slider__button-arrow"
          >
            <svg class="restaurant-slider__icon">
              <use href="./images/icon.svg#icon-left-arrow"></use>
            </svg>
          </button>
          <button
            type="button"
            class="swiper-btn swiper-button-next restaurant-slider__button-arrow"
          >
            <svg class="restaurant-slider__icon">
              <use href="./images/icon.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="rextaurant__box-buttons">
        <button
          data-popup-btn="restaurant"
          class="popup-link restaurant__button"
          type="submit"
        >
          Забронювати столик
        </button>
        <a class="restaurant__link" href="/src/restaurant.html"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
