<section class="hotel">
  <div class="container">
    <h2 class="hotel__title">MIMIHO</h2>
    <h3 class="hotel__subtitle">Ресторан</h3>
    <p class="hotel__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div>
      <picture>
        <source srcset="#" />
        <source srcset="#" />
        <source srcset="#" />
        <img src="#" alt="" />
      </picture>
    </div>
    <div>
      <button class="hotel__button" type="submit">Забронювати столик</button>
      <a class="hotel__link" href="">Переглянути меню</a>
    </div>
  </div>
</section>
