<section class="hotel">
  <div class="container">
    <div class="hotel__box-text">
      <div>
        <h2 class="hotel__title">MIMIHО</h2>
        <h3 class="hotel__subtitle">Готель</h3>
      </div>
      <p class="hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div>
      <picture>
        <source srcset="#" />
        <source srcset="#" />
        <source srcset="#" />
        <img src="#" alt="" />
      </picture>
      <div class="hotel-slider__box-icon">
        <a class="hotel-slider__link" href="#">
          <svg class="hotel-slider__icon">
            <use href="./images/icon.svg#icon-left-arrow"></use>
          </svg>
        </a>
        <a class="hotel-slider__link" href="">
          <svg class="hotel-slider__icon">
            <use href="./images/icon.svg#icon-right-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hotel__box-buttons">
      <button class="hotel__button" type="submit">Забронювати столик</button>
      <a class="hotel__link" href="">Переглянути меню</a>
    </div>
  </div>
</section>
