<section class="hotel" data-slider="details-slider">
  <div class="container">
    <div class="hotel__box">
      <div class="hotel__box-text">
        <h2 class="hotel__title">MIMIH<span>O</span></h2>
        <h3 class="hotel__subtitle">Готель</h3>
      </div>
      <p class="hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="hotel-slider__box">
      <div class="swiper hotel-slider__block">
        <ul class="list swiper-wrapper">
          <li class="swiper-slide">
            <img
              srcset="
                /src/images/home-page/hotel-details/deluxe-double-room-bedroom-548.jpg 548w,
                /src/images/home-page/hotel-details/deluxe-double-room-bedroom-540.jpg 540w,
                /src/images/home-page/hotel-details/deluxe-double-room-bedroom-274.jpg 274w,
                /src/images/home-page/hotel-details/deluxe-double-room-bedroom-270.jpg 270w
              "
              sizes="(min-width: 1280px) 900px, (min-width: 1024px) 700px, (min-width: 414px) 300px, 100vw"
              src="/src/images/home-page/hotel-details/deluxe-double-room-bedroom-270.jpg"
              alt="Deluxe-double-room-bedroom"
            />
          </li>
          <li class="swiper-slide">
            <img
              srcset="
                /src/images/home-page/hotel-details/egg-toast-548.jpg 548w,
                /src/images/home-page/hotel-details/egg-toast-540.jpg 324w,
                /src/images/home-page/hotel-details/egg-toast-274.jpg 274w,
                /src/images/home-page/hotel-details/egg-toast-270.jpg 162w
              "
              sizes="(min-width: 1280px) 900px, (min-width: 1024px) 700px, (min-width: 414px) 300px, 100vw"
              src="/src/images/home-page/hotel-details/egg-toast-270.jpg"
              alt="Egg-toast"
            />
          </li>
          <li class="swiper-slide">
            <img
              srcset="
                /src/images/home-page/hotel-details/checkout-540.jpg 540w,
                /src/images/home-page/hotel-details/checkout-540.jpg 324w,
                /src/images/home-page/hotel-details/checkout-274.jpg 270w,
                /src/images/home-page/hotel-details/checkout-270.jpg 162w
              "
              sizes="(min-width: 1280px) 900px, (min-width: 1024px) 700px, (min-width: 414px) 300px, 100vw"
              src="/src/images/home-page/hotel-details/checkout-270.jpg"
              alt="Checkout"
            />
          </li>
        </ul>
        <div class="swiper-btns hotel-slider__box-icon">
          <button
            type="button"
            class="hotel-slider__button swiper-btn swiper-button-next"
          >
            <svg class="hotel-slider__icon">
              <use href="./images/icon.svg#icon-left-arrow"></use>
            </svg>
          </button>
          <button
            type="button"
            class="popup-link hotel-slider__button swiper-btn swiper-button-prev"
          >
            <svg class="hotel-slider__icon">
              <use href="./images/icon.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="hotel__box-buttons">
        <button
          data-popup-btn="hotel"
          class="hotel__button popup-link"
          type="submit"
        >
          Забронювати номер
        </button>
        <a class="hotel__link" href="#">Переглянути ціни</a>
      </div>
    </div>
  </div>
</section>
