<section class="hero hero-homepage">
  <a
    href="https://goo.gl/maps/CwNAtcZC6kYC8mgU7"
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="hero__geolink link"
  >
    <svg class="hero__geolink-icon" width="20" height="20">
      <use href="./images/icon.svg#icon-mitka"></use>
    </svg>
    Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15</a
  >
  <h1 class="hero__title">Mimiho</h1>
  <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
  <p class="hero__tagline">Смак життя 24/7</p>

  <div class="hero__buttons-box">
    <button type="button" class="hero__buttons">Забронювати столик</button>
    <button type="button" class="hero__buttons">Забронювати номер</button>
  </div>

  <ul class="social hero__social list">
    <li class="social__item">
      <a
        href="https://www.instagram.com/mimino.poltava/"
        class="social__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="social__icon" width="22" height="22">
          <use href="./images/icon.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        href="https://uk-ua.facebook.com/"
        class="social__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="social__icon" width="22" height="22">
          <use href="./images/icon.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a
        href="https://web.telegram.org/k/"
        class="social__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="social__icon" width="22" height="22">
          <use href="./images/icon.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
