<div class="footer">
    <div class="container footer-container">
        <div class="footer__nav">
            <a href="./index.html" class="footer__logo">Mimiho</a>
            <div>
                <ul>
                    <li class="footer__list">
                        <a href="./index.html" class="footer__link">Головна</a>
                    </li>
                    <li class="footer__list">
                        <a href="./restaurant.html"
                            class="footer__link">Ресторан</a>
                    </li>
                    <li class="footer__list">
                        <a href="./hotel.html" class="footer__link">Готель</a>
                    </li>
                </ul>
                <ul class="footer__network">
                    <li class="">
                        <a href="https://www.instagram.com/mimino.poltava/" target="_blank"
                            rel="noopener noreferrer nofollow"
                            class="footer__icon">
                            <svg width="20" height="20">
                                <use href="./images/icon.svg#icon-instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__icon">
                        <a href="https://uk-ua.facebook.com/" target="_blank"
                            rel="noopener noreferrer nofollow"
                            class="footer__icon">
                            <svg width="20" height="20">
                                <use href="./images/icon.svg#icon-facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__icon">
                        <a href="https://web.telegram.org/k/" target="_blank"
                            rel="noopener noreferrer nofollow"
                            class="footer__icon">
                            <svg width="20" height="20">
                                <use href="./images/icon.svg#icon-telegram">
                                </use>
                            </svg>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>