<header class="header">
  <div class="container">
    <a href="./index.html" lang="en" class="header__logo">MIMIHO</a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__link">
          <a href="./restaurant.html" class="header__nav-link">Ресторан</a>
          <a
            href="tel:+380955559533"
            class="header__nav-contact header__nav-contact--padding"
          >
            <svg width="24px" height="24px" class="header__icon">
              <use href="./images/icon.svg#icon-mobil"></use>
            </svg>
            <div class="header__phone-text">095 555 95 33</div>
          </a>
        </li>
        <li class="header__item">
          <a href="./hotel.html" class="header__nav-link">Готель</a>
          <ul class="header__nav-phone header__nav-contact--padding">
            <li>
              <a href="tel:+380668491089" class="header__nav-contact">
                <svg width="24px" height="24px" class="header__icon">
                  <use href="./images/icon.svg#icon-mobil"></use>
                </svg>
                <div class="header__phone-text">066 849 10 89</div>
              </a>
            </li>
            <li>
              <a href="tel:+380672758540" class="header__nav-contact">
                <div class="header__phone-text">067 275 85 40</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <ul class="header__social">
      <li>
        <a
          class="header__social-icon"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          ><svg width="24px" height="24px" class="header__icon">
            <use href="./images/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header__social-icon"
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          ><svg width="24px" height="24px" class="header__icon">
            <use href="./images/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header__social-icon"
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          ><svg width="24px" height="24px" class="header__icon">
            <use href="./images/icon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
