<div class="flex-box">
  <a href="#" data-popup-btn="restaurant" class="popup-link">Ресторан</a>
  <button type="button" data-popup-btn="hotel" class="popup-link">hotel</button>

  <a href="#" data-popup-btn="room" class="popup-link">Попап 2</a>
  <button type="button" data-popup-btn="test-modal" class="popup-link">
    Попап 2
  </button>
</div>
<div data-popup-target="restaurant" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title">Забронювати столик</h2>
      <form class="user-form">
        <div class="user-form__thumb-rest">
          <input
            type="text"
            name="user-name"
            id="user-name"
            class="user-form__area"
            placeholder="Ваше ім’я"
          />
          <label for="user-name" class="user-form__lable">Ім'я</label>
        </div>
        <div class="user-form__thumb-rest">
          <input
            name="user-tel"
            type="text"
            class="user-form__area js-inputmask"
          />
          <label for="user-tel" class="user-form__lable">Телефон</label>
        </div>

        <div class="user-form__thumb-rest">
          <select name="number-of-visitors" class="user-form__select js-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label for="number-of-visitors" class="user-form__lable"
            >Столик на яку кількість осіб?</label
          >
        </div>

        <div class="user-form__thumb-rest">
          <select name="date" class="user-form__select js-select">
            <option value="today">Сьогодні</option>
            <option value="tomorrow">Завтра</option>
            <option value="after-tomorrow">Післязавтра</option>
          </select>
          <label for="date" class="user-form__lable"
            >На яку дату бронювати?</label
          >
        </div>
      </form>

      <button type="submit" class="user-form__button">
        Оформити бронювання
      </button>
    </div>
  </div>
</div>

<div data-popup-target="hotel" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title">Забронювати номер</h2>
      <form class="user-form__hotel">
        <div class="user-form__box">
          <div class="user-form__thumb-hotel">
            <input
              type="text"
              name="user-name"
              id="user-name"
              class="user-form__area"
              placeholder="Ваше ім’я"
            />
            <label for="user-name" class="user-form__lable">Ім'я</label>
          </div>
          <div class="user-form__thumb-hotel">
            <input
              name="user-tel"
              type="text"
              class="user-form__area js-inputmask"
            />
            <label for="user-tel" class="user-form__lable">Телефон</label>
          </div>
        </div>
              <div class="user-form__thumb-hotel">
            <select name="room-class" class="user-form__select js-select">
              <option value="2xlux" selected>Двомісний люкс</option>
              <option value="3x">Трьохмісний номер</option>
              <option value="2x">Двохмісний номер</option>
            </select>
            <label for="room-class" class="user-form__lable"
              >Категорія номеру</label
            >
          </div>
        <div class="user-form__box">
    
          <div class="user-form__thumb-hotel">
            <select name="arrival date" class="user-form__select js-select">
              <option value="today">Сьогодні</option>
              <option value="tomorrow">Завтра</option>
              <option value="after-tomorrow">Післязавтра</option>
            </select>
            <label for="arrival date" class="user-form__lable"
              >Дата заїзду</label
            >
          </div>

          <div class="user-form__thumb-hotel">
            <select
              name="
date-of-departure"
              class="user-form__select js-select"
            >
              <option value="today">Сьогодні</option>
              <option value="tomorrow">Завтра</option>
              <option value="after-tomorrow">Післязавтра</option>
            </select>
            <label
              for="
date-of-departure"
              class="user-form__lable"
              >Дата виїзду</label
            >
          </div>
        </div>
      </form>

      <button type="submit" class="user-form__button">
        Оформити бронювання
      </button>
    </div>
  </div>
</div>
