<!-- <div class="flex-box">
  <button type="button" data-popup-btn="restaurant" class="popup-link">
    Restaurant
  </button>
  <button type="button" data-popup-btn="hotel" class="popup-link">hotel</button>
  <button type="button" data-popup-btn="cost-hotel-1" class="popup-link">
    Cost-hotel[Двомісний люкс]
  </button>
  <button type="button" data-popup-btn="cost-hotel-2" class="popup-link">
    Cost-hotel[ТРЬОХМІСНИЙ НОМЕР]
  </button>
  <button type="button" data-popup-btn="cost-hotel-3" class="popup-link">
    Cost-hotel[ДВОМІСНИЙ НОМЕР]
  </button>
</div> -->

<div data-popup-target="restaurant" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title">Забронювати столик</h2>
      <form class="user-form">
        <div class="user-form__thumb-rest">
          <input
            type="text"
            name="client-name-rest"
            id="user-name-rest"
            class="user-form__area"
            placeholder="Ваше ім’я"
            required
          />
          <label for="user-name-rest" class="user-form__lable"
            >На кого забронювати столик?</label
          >
        </div>

        <div class="user-form__thumb-rest">
          <input
            name="client-tel-rest"
            id="user-tel-rest"
            type="text"
            class="user-form__area js-inputmask"
            required
          />
          <label for="user-tel-rest" class="user-form__lable">Номер телефону</label>
        </div>

        <div class="user-form__thumb-rest">
          <select name="visitors" id="number-of-visitors" class="user-form__select js-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label for="number-of-visitors" class="user-form__lable"
            >Столик на яку кількість осіб?</label
          >
        </div>

        <div class="user-form__thumb-rest">
          <select name="date" id="date-restaurant" class="user-form__select js-select">
            <option value="today">Сьогодні</option>
            <option value="tomorrow">Завтра</option>
            <option value="after-tomorrow">Післязавтра</option>
          </select>
          <label for="date-restaurant" class="user-form__lable"
            >На яку дату бронювати?</label
          >
        </div>

        <button type="submit" class="user-form__button">
          Оформити бронювання
        </button>
      </form>
    </div>
  </div>
</div>

<div data-popup-target="hotel" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title">Забронювати номер</h2>
      <form class="user-form__hotel">
        <div class="user-form__box">
          <div class="user-form__thumb-hotel">
            <input
              type="text"
              name="client-name-hotel"
              id="user-name-hotel"
              class="user-form__area"
              placeholder="Ваше ім’я"
              required
            />
            <label for="user-name-hotel" class="user-form__lable">Ім'я</label>
          </div>
          <div class="user-form__thumb-hotel">
            <input
              name="client-tel-hotel"
              id="user-tel-hotel"
              type="text"
              class="user-form__area js-inputmask"
              required
            />
            <label for="user-tel-hotel" class="user-form__lable">Телефон</label>
          </div>
        </div>
        <div class="user-form__thumb-hotel">
          <select name="room" id="room-class" class="user-form__select js-select">
            <option value="2xlux" selected>Двомісний люкс</option>
            <option value="3x">Трьохмісний номер</option>
            <option value="2x">Двохмісний номер</option>
          </select>
          <label for="room-class" class="user-form__lable"
            >Категорія номеру</label
          >
        </div>
        <div class="user-form__box">
          <div class="user-form__thumb-hotel">
            <select name="clients-arrival-date" id="arrival-date" class="user-form__select js-select">
              <option value="today">Сьогодні</option>
              <option value="tomorrow">Завтра</option>
              <option value="after-tomorrow">Післязавтра</option>
            </select>
            <label for="arrival-date" class="user-form__lable"
              >Дата заїзду</label
            >
          </div>

          <div class="user-form__thumb-hotel">
            <select
              name="date-of-departure"
              id="date-of-departure"
              class="user-form__select js-select"
            >
              <option value="today">Сьогодні</option>
              <option value="tomorrow">Завтра</option>
              <option value="after-tomorrow">Післязавтра</option>
            </select>
            <label for="date-of-departure" class="user-form__lable"
              >Дата виїзду</label
            >
          </div>
        </div>
        <button type="submit" class="user-form__button">
          Оформити бронювання
        </button>
      </form>
    </div>
  </div>
</div>

<div data-popup-target="cost-hotel-1" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title popup__title__cost">Ціни на номер</h2>
      <h3 class="user-form__subtitle">Двомісний люкс</h3>
      <span class="user-form__lable-cost">Категорія номеру</span>
      <form class="user-form__cost-hotel">
        <div class="user-form__thumb night">
          <select
            name="nights"
            id="number-of-night-hotel-1"
            class="user-form__select js-select"
            style="opacity: 0; width: 0px; padding: 0px; height: 0px"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label for="number-of-night-hotel-1" class="user-form__lable"
            >Кількість ночей</label
          >
        </div>
        <div class="user-form__thumb hotel-cost">
          <input
            type="text"
            name="price"
            id="cost-hotel-1"
            class="user-form__area"
            placeholder="1000"
            readonly
          />
          <label for="cost-hotel-1" class="user-form__lable">грн</label>
        </div>
        <button type="submit" class="user-form__button">
          Забронювати номер
        </button>
      </form>
    </div>
  </div>
</div>

<div data-popup-target="cost-hotel-2" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title">Ціни на номер</h2>
      <h3 class="user-form__subtitle">Трьохмісний</h3>
      <span class="user-form__lable-cost">Категорія номеру</span>
      <form class="user-form__cost-hotel">
        <div class="user-form__thumb night">
          <select
            name="nights"
            id="number-of-night-hotel-2"
            class="user-form__select js-select"
            style="opacity: 0; width: 0px; padding: 0px; height: 0px"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label for="number-of-night-hotel-2" class="user-form__lable"
            >Кількість ночей</label
          >
        </div>
        <div class="user-form__thumb hotel-cost">
          <input
            type="text"
            name="price"
            id="cost-hotel-2"
            class="user-form__area"
            placeholder="2000"
            readonly
          />
          <label for="cost-hotel-2" class="user-form__lable">грн</label>
        </div>
        <button type="submit" class="user-form__button">
          Забронювати номер
        </button>
      </form>
    </div>
  </div>
</div>

<div data-popup-target="cost-hotel-3" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <button type="button" class="popup__close close-popup">
        <svg width="24px" height="24px">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="popup__title">Ціни на номер</h2>
      <h3 class="user-form__subtitle">Двомісний</h3>
      <span class="user-form__lable-cost">Категорія номеру</span>
      <form class="user-form__cost-hotel">
        <div class="user-form__thumb night">
          <select
            name="nights"
            id="number-of-night-hotel-3"
            class="user-form__select js-select"
            style="opacity: 0; width: 0px; padding: 0px; height: 0px"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label for="number-of-night-hotel-3" class="user-form__lable"
            >Кількість ночей</label
          >
        </div>
        <div class="user-form__thumb hotel-cost">
          <input
            type="text"
            name="price"
            id="cost-hotel-3"
            class="user-form__area"
            placeholder="3000"
            readonly
          />
          <label for="cost-hotel-3" class="user-form__lable">грн</label>
        </div>
        <button type="submit" class="user-form__button">
          Забронювати номер
        </button>
      </form>
    </div>
  </div>
</div>
