.amenities {
	padding-top: 32px;
	padding-bottom: 32px;
	background: $bcgContactColor;

	@media screen and (min-width: $tabletScreen) {
		padding-top: 50px;
		padding-bottom: 40px;
}
	@media screen and (min-width: $desktopScreen) {
			padding-top: 48px;
			padding-bottom: 48px;
	}
	&__title {
		margin-bottom: 16px;

		font-weight: 400;
		font-size: 32px;
		line-height: 1.16;
		color: $blackColor;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 32px;
		min-width: 384px;

		font-weight: 700;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.02em;
		color: $titleContactColor;

		@media screen and (min-width: $tabletScreen) {
			max-width: 757px;
			flex-basis: calc((100% - 1 * 80px) / 2);
		}

		@media screen and (min-width: $desktopScreen) {
			flex-basis: calc((100% - 1 * 159px) / 2);
	}
	}

	&__item {
		margin-bottom: 32px;
	}
}

.amenities-room__title {
	display: block;
	margin-bottom: 16px;
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	color: $blackColor;
	text-transform: uppercase;
}

.amenities-room__conteiner {
	@media screen and (min-width: $tabletScreen) {
			display: flex;
			gap: 80px;
		}
		@media screen and (min-width: $desktopScreen) {
			gap: 159px;
	}
}

.amenities-room__text {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 16px;

	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	
	color: $titleContactColor;

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: $tabletScreen) {
		margin-bottom: 0;
		flex-basis: calc((100% - 1 * 80px) / 2);
	}

	@media screen and (min-width: $desktopScreen) {
		flex-basis: calc((100% - 1 * 159px) / 2);
}
}

.amenities-room__btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: $tabletScreen) {
		flex-direction: column;
		align-items: flex-end;
	}
}

.amenities__btn {
	margin-bottom: 20px;
	padding: 20px 43px;
	min-width: 384px;
	height: 64px;
	background: $buttons-background;
	color: $whiteColor;
	border: 1px solid $accentYellowColor;
	border-radius: 25px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	transform: scale(1);
  transition: color 250ms $transitionTimeFunction,
    background 250ms $transitionTimeFunction,
    transform 250ms $transitionTimeFunction;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #000000;
    background: #f3c653;
    transform: scale(1.05);
  }

	@media screen and (min-width: $tabletScreen) {
		width: 434px;
		padding: 18px 38px;
	}
}

.return__link {
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;

	color: $brownContactColor;

	@media screen and (min-width: $tabletScreen) {
		font-size: 20px;
		line-height: 1.2;
	}

	&:hover,
	&:focus {
		color: $accentYellowColor;
	}
}

.return__icon {
	margin-left: 12px;
	fill: currentColor;

	@media screen and (min-width: $tabletScreen) {
		margin-left: 16px;
	}
}