.amenities {
	padding-top: 32px;
	padding-bottom: 32px;
	background: $bcgContactColor;

	@include for-tablet-up{
		padding-top: 50px;
		padding-bottom: 40px;
}
	@include for-desktop-up {
			padding-top: 48px;
			padding-bottom: 48px;
	}
	&__title {
		margin-bottom: 16px;

		font-weight: 400;
		font-size: 32px;
		line-height: 1.16;
		color: $blackColor;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 32px;
		min-width: 384px;

		font-weight: 700;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.02em;
		color: $titleContactColor;

		@include for-tablet-up {
			max-width: 757px;
			// flex-basis: calc((100% - 1 * 80px) / 2);
		}

		@include for-desktop-up {
			// flex-basis: calc((100% - 1 * 159px) / 2);
	}
	}

	&__item {
		margin-bottom: 32px;
	}
}

.amenities-room__title {
	display: block;
	margin-bottom: 16px;
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	color: $blackColor;
	text-transform: uppercase;
}

.amenities-room__conteiner {
	@include for-tablet-up {
			display: flex;
			gap: 80px;
		}
		@include for-desktop-up {
			gap: 159px;
	}
}

.amenities-room__text {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 16px;

	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
	
	color: $titleContactColor;

	&:last-child {
		margin-bottom: 0;
	}

	@include for-tablet-up {
		margin-bottom: 0;
		flex-basis: calc((100% - 1 * 80px) / 2);
	}

	@include for-desktop-up {
		flex-basis: calc((100% - 1 * 159px) / 2);
}
}

.amenities-room__btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@include for-tablet-up {
		flex-direction: column;
		align-items: flex-end;
	}
}

.amenities__btn {

	@include button_MinWidth_BorderR (384px, $buttons-background);
	margin-bottom: 20px;
	padding: 20px 43px;
	height: 64px;

	border-radius: 25px;
	font-style: normal;
	font-size: 20px;

	@include for-tablet-up {
		width: 434px;
		padding: 18px 38px;
	}
}

.return__link {
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;

	color: $brownContactColor;

	@include for-tablet-up {
		font-size: 20px;
		line-height: 1.2;
	}

	&:hover,
	&:focus {
		color: $accentYellowColor;
	}
}

.return__icon {
	margin-left: 12px;
	fill: currentColor;

	@include for-tablet-up {
		margin-left: 16px;
	}
}