// main slider
// normal
.swiper-main {
    margin: 0;

    @include for-tablet-down {
        flex-basis: 540px;
        flex-shrink: 0;
        transform: translateX(30px);
    }


    @include for-tablet-up {
        width: 428px;
        position: absolute;
        transform: translateY(80%);
        bottom: 0;
        right: 0;
    }

    @include for-desktop-up {
        width: 548px;
        transform: translateY(50%);
    }

    &__swiper-wrapper {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 36px;

        @include for-tablet-down {
            height: 245px;
        }
    }



    &__img {
        // box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        // // overflow: visible;
    }

    &__arrow {
        fill: $arrowsSectionAboutColor;

        transition: fill $transitionMsFunction $transitionTimeFunction; 

        &:hover,
        &:focus {
            fill: $accentYellowColor;
        }
    }
}

// general style
.swiper-btns {
    display: flex;
    gap: 44px;

    @include for-phone-up {
        justify-content: flex-end;
        width: 350px;  
    }

    @include for-tablet-up {
        justify-content: flex-end;
        width: 100%;
    }
}

.swiper-btn {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

    &::after {
        content: '';
    }
}


.swiper-slide-next {
    @include for-tablet-down {
        opacity: 60%;
        transition: opacity $transitionMsFunction $transitionTimeFunction;
    }
}

// reverse
.reverse {

    
    .swiper-main {
        left: 0;
        margin: 0 !important;

        @include for-tablet-down {
            transform: translateX(-30px);
        }
    }

    .swiper-btns {
        justify-content: flex-end;

        @include for-phone-only {
            width: 100%;
        }
        @include for-phone-up {
            width: 300px;
        }
    
        @include for-tablet-up {
            width: 100%;
        }

        @include for-tablet-up {
            justify-content: flex-start !important;
        }
    }

    .swiper-slide-next {
        @include for-tablet-down {
            opacity: 100%;
        }
    }

    .is-play {
        @include for-tablet-down {
            opacity: 60%;
            transition: opacity $transitionMsFunction $transitionTimeFunction;
        }
    }
}