.social {
  display: flex;
  gap: 20px;

  &__item {
    width: 24px;
    height: 24px;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1px;

    fill: $accentLightYellowColor;

    background-color: transparent;
  }
}
