.header {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  &__logo {
    text-decoration: none;
    font-family: 'Film P3', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.083;
    letter-spacing: 0.3em;
    color: $whiteColor;
    padding: 16px 0;
    margin-left: 0;
    margin-right: auto;
    transition: color 250ms linear;

    @include for-phone-up {
      margin-right: 52px;
    }

    @include for-tablet-up {
      font-size: 40px;
      line-height: 1.075;
      margin-right: 87px;
      padding: 24px 0;
    }

    @include for-desktop-up {
      margin-right: 96px;
    }
  }

  &__link {
    display: flex;
    gap: 12px;
    align-items: center;

    @include for-tablet-up {
      gap: 32px;
    }
  }

  &__nav-list {
    display: flex;
    gap: 20px;

    @include for-tablet-up {
      gap: 72px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;

    @include for-tablet-up {
      gap: 32px;
    }
  }

  &__nav-phone {
    display: flex;
    align-items: center;

    @include for-tablet-up {
      gap: 16px;
    }
  }

  &__phone-text {
    display: none;

    @include for-tablet-up {
      display: block;
    }
  }

  &__nav-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accentYellowColor;
    display: block;
    padding: 16px 0;

    transition: color 250ms $transitionTimeFunction;

    &:hover,
    &:focus {
      color: $brownContactColor;
    }
  }
  @include for-tablet-up {
    padding: 24px 0;
    font-size: 20px;
    line-height: 1.2;
  }

  &__nav-contact {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    color: $whiteColor;
  }

  &__nav-contact--padding {
    @include for-tablet-up {
      padding: 8px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
    }
  }

  &__social {
    display: none;

    @include for-desktop-up {
      display: flex;
      gap: 23px;
      margin-left: 60px;
    }
  }

  &__icon {
    display: none;
    fill: $accentYellowColor;
    transition: fill 250ms $transitionTimeFunction;

    &:hover,
    &:focus {
      fill: $brownContactColor;
    }

    @include for-phone-up {
      display: flex;
    }
  }

  &__phone {
    @include for-phone-up {
      display: flex;
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
