<section class="section-about section-about-hotel" data-slider="team-slider">
  <div class="container">
    <div class="section-about__container-content">
      <div class="section-about__content">
        <h3 class="section-about__title">Amet minim mollit non</h3>
        <h4 class="section__brand-title section-hotel__brand-title">MIMIHO</h4>
        <div class="section-hotel__content">
          <h2 class="section-hotel__title">Двомісний номер <span class="section-hotel__title--lowercase">люкс</span></h2>
          <p class="section-about__subtitle">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture class="section-about__picture">
          <source
            srcset="
              ./images/hotel-page/common/bedroom-1-460.jpg    1x,
              ./images/hotel-page/common/bedroom-1-920.jpg  2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/hotel-page/common/bedroom-1-400.jpg    1x,
              ./images/hotel-page/common/bedroom-1-800.jpg  2x
            "
            media="(min-width:1024px)"
          />
          <img
            class="section-about__img section-about__img--absolute"
            srcset="
              ./images/hotel-page/common/bedroom-1-244.jpg   1x,
              ./images/hotel-page/common/bedroom-1-488.jpg 2x
            "
            src="./images/hotel-page/common/bedroom-1-244.jpg "
            alt="Спальня двомісного номеру люкс"
          />
        </picture>
      </div>
    </div>

    <div class="section-about__box section-about-hotel__box">
      <div class="section-about__box-swiper">
        <div class="swiper swiper-main swiper-main--hotel">
          <ul class="swiper-wrapper swiper-main__swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/hotel-page/slider/bathroom-1-254.jpg    1x,
                    ./images/hotel-page/slider/bathroom-1-508.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/hotel-page/slider/bathroom-1-194.jpg    1x,
                    ./images/hotel-page/slider/bathroom-1-388.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/hotel-page/slider/bathroom-1-194.jpg    1x,
                    ./images/hotel-page/slider/bathroom-1-388.jpg 2x
                  "
                  src="./images/hotel-page/slider/bathroom-1-194.jpg"
                  alt="Ванна кімната двомісного номеру люкс"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="
                                  ./images/hotel-page/slider/living-space-1-254.jpg    1x,
                                  ./images/hotel-page/slider/living-space-1-508.jpg 2x
                                " media="(min-width:1280px)" />
                <source srcset="
                                  ./images/hotel-page/slider/living-space-1-194.jpg    1x,
                                  ./images/hotel-page/slider/living-space-1-388.jpg 2x
                                " media="(min-width:1024px)" />
                <img class="swiper-main__img" srcset="
                                  ./images/hotel-page/slider/living-space-1-194.jpg    1x,
                                  ./images/hotel-page/slider/living-space-1-388.jpg 2x
                                " src="./images/hotel-page/slider/living-space-1-194.jpg" alt="Вітальня двомісного номеру люкс" />
              </picture>
            </li>
            <!-- <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg"
                  alt=""
                />
              </picture>
            </li> -->
          </ul>

          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="button__container">
        <a class="button-hotel button-hotel--link" href="/src/room.html"
          >Детальніше</a
        >

        <button
          data-popup-btn="cost-hotel-1"
          class="button-hotel button-hotel--btn hotel__button popup-link"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>

<section
  class="section-about section-about-hotel section-about-hotel--triple reverse"
  data-slider="team-slider"
>
  <div class="container">
    <div class="section-about__container-content">
      <div class="section-about__content">
        <h3 class="section-about__title">Amet minim mollit non</h3>
        <h4 class="section__brand-title section-hotel__brand-title">MIMIHO</h4>
        <div class="section-hotel__content">
          <h2 class="section-hotel__title">Трьохмісний номер</h2>
          <p class="section-about__subtitle">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture class="section-about__picture">
          <source srcset="
                      ./images/hotel-page/common/bedroom-2-460.jpg    1x,
                      ./images/hotel-page/common/bedroom-2-920.jpg  2x
                    " media="(min-width:1280px)" />
          <source srcset="
                      ./images/hotel-page/common/bedroom-2-400.jpg    1x,
                      ./images/hotel-page/common/bedroom-2-800.jpg  2x
                    " media="(min-width:1024px)" />
          <img class="section-about__img section-about__img--absolute" srcset="
                      ./images/hotel-page/common/bedroom-2-244.jpg   1x,
                      ./images/hotel-page/common/bedroom-2-488.jpg 2x
                    " src="./images/hotel-page/common/bedroom-2-244.jpg " alt="Спальня тримісного номеру" />
        </picture>
      </div>
    </div>

    <div class="section-about__box section-about-hotel__box">
      <div class="section-about__box-swiper">
        <div class="swiper swiper-main swiper-main--hotel">
          <ul class="swiper-wrapper swiper-main__swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source srcset="
                  ./images/hotel-page/slider/bathroom-2-254.jpg    1x,
                  ./images/hotel-page/slider/bathroom-2-508.jpg 2x

                  " media="(min-width:1280px)" />                  
                <source srcset="
                  ./images/hotel-page/slider/bathroom-2-194.jpg    1x,
                  ./images/hotel-page/slider/bathroom-2-388.jpg 2x

                  " media="(min-width:1024px)" />
                <img class="swiper-main__img" srcset="
                  ./images/hotel-page/slider/bathroom-2-194.jpg    1x,
                  ./images/hotel-page/slider/bathroom-2-388.jpg 2x
                  " src="./images/hotel-page/slider/bathroom-2-194.jpg" alt="Ванна кімната тримісного номеру" />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="
                  ./images/hotel-page/slider/living-space-2-254.jpg    1x,
                  ./images/hotel-page/slider/living-space-2-508.jpg 2x
                  " media="(min-width:1280px)" />
                <source srcset="
                  ./images/hotel-page/slider/living-space-2-194.jpg    1x,
                  ./images/hotel-page/slider/living-space-2-388.jpg 2x
                  " media="(min-width:1024px)" />
                <img class="swiper-main__img" srcset="
                  ./images/hotel-page/slider/living-space-2-194.jpg    1x,
                  ./images/hotel-page/slider/living-space-2-388.jpg 2x
                  " src="./images/hotel-page/slider/living-space-2-194.jpg" alt="Вітальня тримісного номеру" />
              </picture>
            </li>
            <!-- <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg"
                  alt=""
                />
              </picture>
            </li> -->
          </ul>

          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="button__container">
        <a class="button-hotel button-hotel--link" href="/src/room.html"
          >Детальніше</a
        >

        <button
          data-popup-btn="cost-hotel-2"
          class="button-hotel button-hotel--btn hotel__button popup-link"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>

<section class="section-about section-about-hotel" data-slider="team-slider">
  <div class="container">
    <div class="section-about__container-content">
      <div class="section-about__content">
        <h3 class="section-about__title">Amet minim mollit non</h3>
        <h4 class="section__brand-title section-hotel__brand-title">MIMIHO</h4>
        <div class="section-hotel__content">
          <h2 class="section-hotel__title">Двомісний номер</h2>
          <p class="section-about__subtitle">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture class="section-about__picture">
          <source srcset="
                      ./images/hotel-page/common/bedroom-3-460.jpg    1x,
                      ./images/hotel-page/common/bedroom-3-920.jpg  2x
                    " media="(min-width:1280px)" />
          <source srcset="
                      ./images/hotel-page/common/bedroom-3-400.jpg    1x,
                      ./images/hotel-page/common/bedroom-3-800.jpg  2x
                    " media="(min-width:1024px)" />
          <img class="section-about__img section-about__img--absolute" srcset="
                      ./images/hotel-page/common/bedroom-3-244.jpg   1x,
                      ./images/hotel-page/common/bedroom-3-488.jpg 2x
                    " src="./images/hotel-page/common/bedroom-3-244.jpg " alt="" />
        </picture>
      </div>
    </div>

    <div class="section-about__box section-about-hotel__box">
      <div class="section-about__box-swiper">
        <div class="swiper swiper-main swiper-main--hotel">
          <ul class="swiper-wrapper swiper-main__swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source srcset="
                   ./images/hotel-page/slider/bathroom-3-254.jpg    1x,
                    ./images/hotel-page/slider/bathroom-3-508.jpg 2x
            
                    " media="(min-width:1280px)" />
                <source srcset="
                    ./images/hotel-page/slider/bathroom-3-194.jpg    1x,
                    ./images/hotel-page/slider/bathroom-3-388.jpg 2x
            
                    " media="(min-width:1024px)" />
                <img class="swiper-main__img" srcset="
                    ./images/hotel-page/slider/bathroom-3-194.jpg    1x,
                    ./images/hotel-page/slider/bathroom-3-388.jpg 2x
                    " src="./images/hotel-page/slider/bathroom-3-194.jpg" 
                    alt="Ванна кімната двомісного номеру" />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source srcset="
                  ./images/hotel-page/slider/living-space-3-254.jpg    1x,
                  ./images/hotel-page/slider/living-space-3-508.jpg 2x
                  " media="(min-width:1280px)" />
                <source srcset="
                  ./images/hotel-page/slider/living-space-3-194.jpg    1x,
                  ./images/hotel-page/slider/living-space-3-388.jpg 2x
                  " media="(min-width:1024px)" />
                <img class="swiper-main__img" srcset="
                  ./images/hotel-page/slider/living-space-3-194.jpg    1x,
                  ./images/hotel-page/slider/living-space-3-388.jpg 2x
                  " src="./images/hotel-page/slider/living-space-3-194.jpg" 
                  alt="Вітальня двомісного номеру" />
              </picture>
            </li>
            <!-- <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_3@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_3@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_3.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_4@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_4@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_4.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_5@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_5@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_5.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_6@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_6@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_6.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/tablet_slider_hotel_7@2x.jpg 2x
                  "
                  media="(min-width:1024px)"
                />
                <img
                  class="swiper-main__img"
                  srcset="
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg    1x,
                    ./images/home-page/hotel-about-slider/mobile_slider_hotel_7@2x.jpg 2x
                  "
                  src="./images/home-page/hotel-about-slider/mobile_slider_hotel_7.jpg"
                  alt=""
                />
              </picture>
            </li> -->
          </ul>

          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg class="swiper-main__arrow" width="32" height="32">
                <use href="./images/icon.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="button__container">
        <a class="button-hotel button-hotel--link" href="/src/room.html"
          >Детальніше</a
        >

        <button
          data-popup-btn="cost-hotel-3"
          class="button-hotel button-hotel--btn hotel__button popup-link"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
